<!DOCTYPE html>
<html>
<title>特斯拉抽獎</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
  <script type="text/javascript">
    function chk(){
      alert('就說這裡沒有在抽特斯拉了！！！');
      }
    </script>
</head>
<body>
<div class="w3-container w3-center">
	<h1 class="w3-animate-bottom">特斯拉抽獎系統</h1>
	<img class="w3-image" src="https://www.tesla.com/ownersmanual/images/GUID-BEE67A59-6DD7-460C-9C49-0DD47E707A02-online-en-US.jpg" alt="wow it's a very very nice tesla " width="300" height="200">
</div>

<form class="w3-container w3-center" name="sendform" method="post" onsubmit="return chk();">
  <!-- a secret to let everyone can't get a tesla -->
  <input type="hidden" name="if_i_can_get_a_tesla" value="no">
  <button class="w3-button w3-black" type="submit" >抽！我要特斯拉！！！</button>
</form>

</body>
</html>