<!DOCTYPE html>
<html>
  <head>    
  </head>
  <body>
    <form action="/post" method="post">
      <input name="username" type="text">
      <input name="password" type="password">
      <button type="submit">SUbmit</button>
    </form>
  </body>
</html>