<!DOCTYPE html>
<html lang="tw">
  <head>
    <script><%- script %></script>
    <title>find flag</title>
  </head>
  <body style="background-color:#A3CDD9;">
    <%- message %>
    <h1 style="color:#FFFCE6;">旗子放哪?</h1>
    <h1 style="color:#F2CC39;">窩也不資道!</h1>
    <br><br><br>
    <p><a href="https://docs.google.com/presentation/d/1Au4JujjPrEBJBqkzmnohOygYYJE0tADdaHWsYKLaCiI/edit">想不出旗子在哪可以點連結回去看看講義喔!</a></p>
    <img src="https://lh3.googleusercontent.com/VhL1VHwJ4NRHD-4E7m7MaCpEebjqkqsP1baBQSh3fGoZ-HB6MORWXlmjqyZ4exjh0iJqLbFH6scY4B5LNxdCpNAVnLvzCfpCfr1BJOQ_M7ToNQvk47oSlmFEijmDoyO5gqYpg9fG=w400" alt="寒訓簡報封面" style="width:300px;">
  </body>
</html>