<!DOCTYPE html>
<html lang="en">

<head>
  <script><% - script %></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <title>
    <%- title %>
  </title>
  <style>
    * {
      font-family: Microsoft JhengHei, Times New Roman;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-2 border border-3">
        <h1><%- title %></h1>
      </div>
    </div>

    <div class="row">
      <div class="col gy-5">
        <%- message %>
      </div>

    </div>
  </div>
</body>

</html>